
    <section id="about" class="about">
      <div class="container">

        <div class="table-responsive">
        <table class="table table-striped">

          <tbody>
            <tr>
              <td><%= @regional_profiles_waterford.name %></td>
              <td><%= @regional_profiles_waterford.population %></td>
              <td><%= @regional_profiles_waterford.county %></td>
              <td><%= @regional_profiles_waterford.local_govt %></td>
              <td><%= @regional_profiles_waterford.description %></td>
              <td><%= @regional_profiles_waterford.environment_id %></td>
              <td><%= @regional_profiles_waterford.updated %></td>
            </tr>
          </tbody>
        </table>
        </div>

      </div>
    </section><!-- End About Us Section -->